body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"], button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

#weatherInfo {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Hide initially */
}
